.m_h{
	min-height: 500px
}

.text_gray{
	color: gray !important;
}

.lbl_button{
display: block;
width: 100%;
margin-left:px !important;
}

.radio_padding{
padding-left: 30px !important;
font-size: 12px !important;
padding-top: 8px !important;
padding-bottom: 8px !important;
}

.curs{
	cursor: pointer;
}


.img_cover{
	/*background: url("../images/CC.jpeg");*/
	background: url("../images/img_larg.png");
	background-size: cover;

}

.img_cover2{
	background: url("../images_login/lp-hero-1.jpg");
	background-size: cover;
	background-position-x: 447px;
}

.margin_bt{
	margin-top: 36px
}

.modal-body.bg-white{
	background:white;
}

#result{
	border: none;
	position: inherit !important;
	width: 100% !important;
	margin-left: 0 !important;
	background: white !important;
}


.classTag{
	background: white;
}

.classTag:hover{
	background: gray;
	color: black
}

.f-20{
	padding-top:10px;
	font-size: 20px !important;
}

.img_port{
	background: url("../images_login/pr.png");
}


.m_terminer{
	margin-bottom: 25px;
    margin-top: 23px;
    white-space: pre-wrap;
}

.f-20{
	font-size: 20px !important;
}
.f-22{
	font-size: 22px !important;
}

.f-18{
	font-size: 18px !important;
}
.f-16{
	font-size: 16px !important;
}
.p_1{
	padding: 1px !important;
}
.modal_700{
	max-width: 900px !important;
}

.lng_rad{
	position: absolute;
	width: 32px;
	top: 6px;
}

.error{
	font-size: 12px;
	color: red;
	margin-bottom: 0 !important;
}

.Monsiu , .mad, lng{
	height: 25px !important;
	padding: 3px 23px !important;
	margin-top: 1px !important;
	font-size: 12;
	font-weight: normal;
}

.borderRadius{
	border-radius: 15px !important;
}


a{
	text-decoration: none !important;
}
.btn-sms{
	background: #df6c6e !important;
    color: white !important;
    border:none !important;
}

.btn-sms1{
	background: #2627ef  !important;
    color: white !important;
    border:none !important;
}
.btn-smss{
	background: #efe426 !important;
    color: white !important;
    border:none !important;
}
.btn-sms2{
	background: red !important;
    color: white !important;
    border:none !important;
}
.btn-sms3{
	background: #0000a0!important;
    color: white !important;
    border:none !important;
}
.btn-sms4{
	background:  #184a00bd   !important;
    color: white !important;
    border:none !important;
}
.image_bottom{
	background: url("../images_login/logo_botom.png");
    background-size: cover;
	display: block;
	width: 70px;
	height: 70px;
	position: absolute;
	right: 20px;
	bottom: 10px;
}

.img_top_logo{
	background: url("../images/logo_1.png");
    background-size: cover;
	display: block;
	width: 107px;
	height: 133px;
	/*position: absolute;*/
	/*left: -17px;*/
	top:10px;
}

.img_cont{
	position: relative;
	display:block;
	height: 100px
}

.bg_site{
	background: url("../images/img.jpg");
    background-size: cover;
}

 .active a {
	 background-color: #527741;
	 color: white !important;
 }


.navbar-primary {
	background-color: #333;
	position: fixed;
	bottom: 0px;
	left: 0px;
	/*position: absolute;*/
	top: 51px;
	padding-top: 30px;
	width: 300px;
	z-index: 8;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
	width: 60px;
}

.navbar-primary.collapsed .glyphicon {
	font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
	display: none;
}

.btn-expand-collapse {
	position: absolute;
	display: block;
	left: 0px;
	bottom:0;
	width: 100%;
	padding: 8px 0;
	border-top:solid 1px #666;
	color: grey;
	font-size: 20px;
	text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
	background-color: #222;
	color: white;
}

.btn-expand-collapse:active {
	background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
	margin:0; padding:0;
	list-style: none;
}

.navbar-primary-menu li a {
	display: block;
	padding: 10px 18px;
	text-align: left;
	border-bottom:solid 1px #444;
	color: #ccc;
}

.navbar-primary-menu li a:hover {
	background-color: #000;
	text-decoration: none;
	color: white;
}

.navbar-primary-menu li a .glyphicon {
	margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
	color: orchid;
}

.main-content {
	margin-top: 60px;
	margin-left: 300px;
	/*padding: 20px;*/
}

.collapsed + .main-content {
	margin-left: 60px;
}

